<div *ngIf="courses.length > 0; else empty">
    <app-search [placeholder]="'Search courses...'" (search)="onSearch($event)"></app-search>
    <div *ngFor="let course of courses">
        <div>
            {{course.id}}
        </div>
        <app-course-card 
            [title]="course.title"
            [description]="course.description"
            [initDuration]="course.duration"
            [authors]="course.authors"
            [date]="course.creationDate"
            [isEditable]="true"
            (onShowCourse)="logEvent($event)"
        >
            <app-button [iconName]="'pencil'"></app-button>
            <app-button [iconName]="'trash'"></app-button>
        </app-course-card>
    </div>
</div>

<router-outlet></router-outlet>

<ng-template #empty>
    <div class="center">
        You list is empty!
    </div>
    <app-button [text]="'Add new course'"></app-button>
</ng-template>
