<form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)" novalidate>
  <h2 class="text-align-center">Login</h2>
  <div class="app-plate">
    <div class="login-form">
      <div>
        <div class="form__control">
          <label for="email">Email</label>
          <input
            type="email"
            id="email"
            name="email"
            placeholder="Input text"
            [(ngModel)]="email" 
            #emailInput="ngModel" 
            appEmailValidator
            [required]="loginForm.submitted || emailInput.touched"
          />
          <div 
            *ngIf="loginForm.submitted || emailInput.touched" 
            class="invalid-feedback"
          >
            <div *ngIf="emailInput.errors?.['required']">Email is required</div>
            <div *ngIf="emailInput.errors?.['invalidEmail']">Invalid email format</div>
          </div>
        </div>
        <div class="form__control">
          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            name="password"
            placeholder="Input text"
            [(ngModel)]="password" #passwordInput="ngModel"
            [required]="loginForm.submitted || passwordInput.touched"
          />
          <div 
            *ngIf="loginForm.submitted || passwordInput.touched" 
            class="invalid-feedback"
          >
            <div *ngIf="passwordInput.errors?.['required']">Password is required</div>
          </div>
        </div>
      </div>
      <div>
        <div class="form__action">
          <app-button type="submit" text="Login"></app-button>
          <div *ngIf="successMessage">{{ successMessage }}</div>
          <div *ngIf="errorMessage">{{ errorMessage }}</div>
        </div>
        <div class="form__text">
          If you don't have an account you may <strong>Registration</strong>
        </div>
      </div>
    </div>
  </div>

</form>